:root {
	--color-background: #000;
	--color-background-secondary: #000;
}

.tsd-navigation.settings {
	display: none !important;
}

#tsd-search .field label {
	left: 50%;
	margin-left: -20px;
	z-index: 1;
}
