on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [14.x, 16.x, 18.x]

        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: "pnpm"
            - uses: pnpm/action-setup@v2.2.3
              with:
                  version: 7.13.4
                  run_install: false
            - run: |
                  echo "::set-output name=pnpm_cache_dir::$(pnpm store path)"
            - uses: actions/cache@v3
              with:
                  path: ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
                  key:
                      ${{ runner.os }}-pnpm-store-${{
                      hashFiles('**/pnpm-lock.yaml') }}
                  restore-keys: |
                      ${{ runner.os }}-pnpm-store-

            - run: pnpm install --frozen-lockfile
              working-directory: /
            - run: pnpm run build --if-present
              working-directory: /
